body{
  margin: 0;
  padding: 0;
}
ul{
  display: block;
}
ul,li{
  list-style: none;
  margin: 0;
}
img{
  display: block;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
input{
  outline: none;
}
p{
  text-align: center;
  margin: 0;
}
.content{
  width: 9.458rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.search{
  width: 10.35rem;
  height: 1.1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 1.1rem;
}
.adress{
  font-size: 0.45rem;
  /*width: 1.1rem;*/
  height: 1.1rem;
}
.down-arrow {
    display :inline-block;
    position: relative;
    width: 0.5rem;
    height: 0.375rem;
    margin-right: 0.25rem;
}

.down-arrow::after {
    display: inline-block;
    content: " ";
    height: 0.225rem;
    width: 0.225rem;
    border-width: 0 0.025rem 0.025rem 0;
    border-color: #282828;
    border-style: solid;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform-origin: center;
    transition: transform .3s;
    position: absolute;
    top: 50%;
    right: 0.125rem;
    margin-top: -0.125rem;
}
/*// 加上active旋转成 上箭头*/
.down-arrow.active::after {
    transform-origin: center;
    transform: rotate(-135deg);
    transition: transform .3s;
}
.search>input{
  width: 8rem;
  height: 0.68rem;
  border: 0.025rem solid #dbdbdb;
  border-radius: 0.1rem;
  text-align: center;
  background: url("../images/search.png") no-repeat 2.5rem center;
}

.title{
  font-family: "PingFang-SC-Medium";
    font-size: 0.4rem;
    color: rgba(30,30,30,1);
    text-align: left;
    margin-left: 0.425rem;
    line-height: 0.675rem;
}
main{
  width: 10.35rem;
}

.fond-items{
  width: 3rem;
  height: 2.55rem;
  position: relative;
  top: 0;
}
.fond-items>img{
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1
}
.fond-items-bg{
  width: 3rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-family: "PingFang-SC-Regular";
  font-size: 0.4rem;
  color: #ffffff;
  background: rgba(138,138,138,0.34);
  position: absolute;
  top: 45%;
  z-index: 2;
}


.newplay{
  margin-top: 0.2rem;
  width: 10.35rem;
}
.newplay-title{
  height: 0.75em;
  line-height: 0.75rem;
  width: 9.675rem;
  margin: 0 auto;
}
.newplay-title-fl{
  float: left;
  font-family: "PingFang-SC-Medium";
  font-size: 0.4rem;
  color: #2a2b2b;
}
.newplay-title-fr{
  float: right;
  font-family: "PingFang-SC-Bold";
  font-size: 0.3rem;
  color: #8f8e93;
}
.newplay>img{
  width: 9.625rem;
  height: 3.625rem;
  margin: 0 auto;
}

.items-self{
  width: 4.55rem;
  margin-top:0.2rem;
}
.items-self>img{
  width: 100%;
}
.items-self>p{
  font-size: 0.3rem;
  font-family: "PingFang-SC-Regular";
  color: black;
  line-height: 0.625rem;
  text-align: left;
}
.items-self>p>span{
  color: rgb(102,102,102);
}
.items-self-icon>span{
  float: left;
  display: block;
}
.items-self-icon>span:nth-child(1){
  content: "";
  width: 0.475rem;
  height: 0.475rem;
  margin-right: 0.35rem;
  background: url("../images/user-head.png") no-repeat center center;
  /*padding: 0.2375rem;*/
}
.items-self-icon>span:nth-child(2){
  font-family: "PingFang-SC-Regular";
  font-size: 0.3rem;
  color: rgb(102,102,102);
  line-height: 0.475rem;
}
.items-self-icon>span:nth-child(2)::before{
  content: "";
  width: 0.275rem;
  height: 0.425rem;
  display: block;
  float: left;
  margin-right: 0.1rem;
  background: url("../images/food-zan.png") no-repeat center center;
}
.items-self-icon>span:nth-child(3){
  font-family: "PingFang-SC-Regular";
  font-size: 0.3rem;
  color: rgb(102,102,102);
  line-height: 0.475rem;
}
.items-self-icon>span:nth-child(3)::before{
  content: "";
  width: 0.3rem;
  height: 0.25rem;
  display: block;
  float: left;
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  margin-left: 0.1rem;
  background: url("../images/icon-magges.png") no-repeat center center;
}



























/* 底部开始 */

  .bottom{
    width: 10.35rem;
    height: 1.225rem;
    background: rgba(236,236,236,0.86);
    position: fixed;
    bottom: 0;
    z-index: 8888;
    
  }
  .bottom>ul{
    display:flex;
    justify-content: flex-start;
    font: 400 0.3rem/0.5rem "STXihei";
    padding: 0;
  }
  .bottom>ul>li{
    width: 25%;
  }
  .bottom img{
    margin: 0 auto;
    margin-top: 0.1rem;
  }
  .bottom a{
    color: rgb(136,136,136);
    /* overflow: hidden; */
    /*display: inline-block;*/
  }
  .bottom-spe{
    color: rgb(86,192,131);
  }


 @media only screen and (min-width: 320px) {
    html {
      font-size: 30.917px !important; 
      } 
      body{
        width: 10.35rem;
        margin:0 auto;
      }
    }
  @media only screen and (min-width: 360px) {
    html {
      font-size: 34.78px !important; 
      } 
      body{
        width: 10.35rem;
        margin:0 auto;
      }
    }
    @media only screen and (min-width: 375px) {
    html {
      font-size: 36.231px !important; 
      } 
      body{
        width: 10.35rem;
        margin:0 auto;
      }
    }
  @media only screen and (min-width: 412px) {
    html {
      font-size: 39.8px !important; 
      }
      body{
        width: 10.35rem;
        margin:0 auto;
      } 
    }
    @media only screen and (min-width: 414px) {
    html {
      font-size: 40px !important; 
      } 
      body{
        width: 10.35rem;
        margin:0 auto;
      }
    }
    @media only screen and (min-width: 768px) {
    html {
      font-size: 74.2px !important; 
      } 
      body{
        width: 10.35rem;
        margin:0 auto;
      }
    }
    @media only screen and (min-width: 1024px) {
    html {
      font-size: 98.93px !important; 
      }
      body{
        width: 10.35rem;
        margin:0 auto;
      } 
    }
    @media only screen and (min-width: 411px) {
    html {
      font-size: 39.71px !important; 
      }
      body{
        width: 10.35rem;
        margin:0 auto;
      } 
    }